@import "tailwindcss";

/* Ensure the html and body take up the whole screen so the canvas doesn't vanish */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}